%h2 Signup here for livejournal.

%form{action: '/users/new', method: 'POST'}
  %label{for: '[user]fname'} First Name:
  %input{type: 'text', name: '[user]fname'}
  %label{for: '[user]lname'} Last Name:
  %input{type: 'text', name: '[user]lname'}
  %label{for: '[user]username'} Username
  %input{type: 'text', name: '[user]username'}
  %label{for: '[user]email'} Email:
  %input{type: 'text', name: '[user]email'}
  %label{for: '[user]password'} Password:
  %input{type: 'password', name: '[user]password'}
  %br
  %input.btn{type: 'submit', value: 'signup'}